# data
data/raw/
data/eda_outputs
data/model_outputs/*.csv
!data/model_outputs/flagged_transactions_supervised.csv
*.zip

# secrets
.env

# python
__pycache__/
*.pyc
venv/
.venv/

# misc
.DS_Store
*.ipynb_checkpoints